<!doctype html>
<html lang="en" class="no-js">
  <head>
    <title>{{ page.title }}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="description" content="{{ page.meta_description }}" />
    <meta name="author" content="qurve" />
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;" />
    <style>
      body { background-color: #000; color: #999; }
      pre { text-align: center; }
      pre a { text-decoration: none; }
      .h { color: #ccc; }
      .s { color: #666; }
      .o { color: #f0f; }
      .c { color: #ff0; }
      .c .s { color: #aa0; }
      .q { color: #0aa; }
      .q .h { color: #0ff; }
      .q .s { color: #066; }
    </style>
  </head>
  <body>
    {{ content }}
  </body>
</html>
